<!DOCTYPE html>
<html>
<head>
  <title>Outside<%= content_for?(:title) ? yield(:title) : ' - Dashboard' %></title>
  <meta charset="UTF-8"/>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="icon" type="image/png" href="<%= asset_path 'favicon.png' %>">
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div id="app">
  <admin-app>
    <%= yield %>
  </admin-app>
</div>

</body>
</html>
